nav {
    box-shadow: none;
}

#txt-otr{
	display: none;
}
.tcards{
    margin: auto;
}
.tcards > .card.card-active {
    padding-top: 25px;
    padding-right: 20px;
}

@media (min-width: 900px) {
    #contacto {
        max-width: 35%;
    }
}

/* Material icons sizes */

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-48 {
    font-size: 60px;
}

.material-icons.md-48 {
    font-size: 72px;
}

/* Material icons size */

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}